<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="UrlPersistor">

	<Appenders>
		<File name="errorLog" fileName="monitorlogs/error.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %m%n</Pattern>
			</PatternLayout>
		</File>

		<File name="ProcessLogger" fileName="monitorlogs/process.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %m%n</Pattern>
			</PatternLayout>
		</File>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM-dd}-%d{HH-mm}.log" append="false"> <!-- -%i的作用是在周期内，另一個triggering產生作用的時候計數 -->
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			<charset>UTF-8</charset>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="15"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="1 KB" /> -->
			</Policies>
		</RollingFile>
		<File name="DeployError" fileName="monitorlogs/derr.log">
			<PatternLayout>
				<Pattern>
					%m%n </Pattern>
			</PatternLayout>
		</File>

		<RollingFile name="PartialFile" fileName="partiallog/partial.log"
			filePattern="partiallog/partial-%i.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="urlPersistorLogger" level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Logger name="deployLogger" level="info" additivity="false">
			<AppenderRef ref="DeployError" />
		</Logger>

		<Logger name="processLogger" level="info" additivity="false">
			<AppenderRef ref="ProcessLogger" />
		</Logger>

		<Logger name="partialLogger" level="info" additivity="false">
			<AppenderRef ref="PartialFile" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="errorLog" />
		</Root>
	</Loggers>

</Configuration>